.container{
    height:100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.message{
    position: relative;
    top: -20px;
    text-align: center;
    color: gray;
    font-size: 12px;
    height: 0px;
}
